<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/Template/Black White Portifolio/style/main.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    
    <section class="box-banner"> </section><!--box-banner-->

    <main>
            <nav>
                <div  id='entrar-menu'  class="box-menu"  onclick="clicar_entrar_menu()"> 
                    <div class="menu"></div><!--menu-->
                </div><!--box-menu-->
                <ul id="menu">
                    <div id="sair-menu" class="box-sair-menu" onclick="clicar_sair_menu()">
                        <div class="sair-menu"></div>
                    </div><!--box-sair-menu-->
                    <li><a href="">Home</a></li>
                    <li><a href="">Portifolio</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>

            <section class="box-profile">
                <div class="profile">
                    <h1>Jane Doe</h1>
                    <p>Photographer and Web Designer.</p>
                    <div class="download-button">
                        <div class="content-button">
                            <div class="img-download"></div>
                            <span>Download Resume</span>
                        </div><!--content-button-->
                    </div><!--download-button-->
                </div><!--profile-->
            </section><!--box-profile-->

            <section class="box-portifolio">
                <div class="center">
                    <h1 class="style-h1">My Portfolio</h1>
                    <div class="line"></div>
                    <div class="flex-portifolio">
                        <div class="box-img-left w50">
                            <div class="img-portifolio"></div>
                            <div class="img-portifolio"></div>
                            <div class="img-portifolio"></div>
                        </div><!--left-portifolio-->

                        <div class="box-img-rigth w50">
                            <div class="img-portifolio"></div>
                            <div class="img-portifolio"></div>
                            <div class="img-portifolio"></div>
                            <div class="img-portifolio"></div>
                        </div><!--rigth-portifolio-->
                    </div><!--flex-portifolio-->
                </div><!--center-->
            </section>

            <section class="about">
                <div class="center">
                    <h1 class="style-h1">About</h1>
                    <div class="line"></div>
                    <p>Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div><!--center-->
            </section><!--about-->

            <section class="box-skills">
                <div class="center">
                    <h1 class="style-h1">My Skills</h1> 
                    <div class="line"></div>

                    <div class="wraper-statistic">
                        <p>Photography</p>
                        <div class="bar">
                            <div class="bar-content w95">95%</div>
                        </div><!--box-bar-->
                    </div><!--wraper-statistic-->

                    <div class="wraper-statistic">
                        <p>Web Design</p>
                        <div class="bar">
                            <div class="bar-content w85">85%</div>
                        </div><!--box-bar-->
                    </div><!--wraper-statistic-->

                    <div class="wraper-statistic">
                        <p>Photoshop</p>
                        <div class="bar">
                            <div class="bar-content w80">80%</div>
                        </div><!--box-bar-->
                    </div><!--wraper-statistic-->

                    <div class="flex-statistic-values">
                        <div class="content-value">
                            <p>14 + </p>
                            <p>Partners</p>
                        </div> <!--content-value-->

                        <div class="content-value">
                            <p>14 + </p>
                            <p>Partners</p>
                        </div> <!--content-value-->

                        <div class="content-value">
                            <p>14 + </p>
                            <p>Partners</p>
                        </div> <!--content-value-->

                        <div class="content-value">
                            <p>14 + </p>
                            <p>Partners</p>
                        </div> <!--content-value-->
                    </div><!--flex-statistic-value-->
                    
                    <div class="download-button">
                        <div class="content-button">
                            <div class="img-download"></div>
                            <span>Download Resume</span>
                        </div><!--content-button-->
                    </div><!--download-button-->
                    
                </div><!--center-->
            </section><!--box-skills-->

            <section class="box-Reputation">
                <div class="center">
                    <h1 class="style-h1">My Reputation</h1>
                    <div class="line"></div>

                    <div class="flex-box-information">
                        <div style="background-image: url(./images/man_smoke.jpg);" class="information-img"></div>
                        <div class="content-information">
                            <div class="information-one"><span>Chandler Bing.</span><span>Web Designer.</span></div>
                            <p>Jane Doe is just awesome. I am so happy to have met her!</p>
                        </div><!--content-information-->
                    </div><!--flex-box-information-->

                    <div class="flex-box-information">
                        <div style="background-image: url(./images/bandmember.jpg);" class="information-img"></div>
                        <div class="content-information">
                            <div class="information-one"><span>Chandler Bing.</span><span>Web Designer.</span></div>
                            <p>Jane Doe is just awesome. I am so happy to have met her!</p>
                        </div><!--content-information-->
                    </div><!--flex-box-information-->

                    <div class="flex-box-information">
                        <div style="background-image: url(./images/avatar_g2.jpg); " class="information-img"></div>
                        <div class="content-information">
                            <div class="information-one"><span>Chandler Bing.</span><span>Web Designer.</span></div>
                            <p>Jane Doe is just awesome. I am so happy to have met her!</p>
                        </div><!--content-information-->
                    </div><!--flex-box-information-->

                </div><!--center-->
            </section><!--box-reputation-->
        
    </main>




<script>
    let sair_menu = document.getElementById('sair-menu')
    let menu = document.getElementById('menu')
    let entrar_menu = document.getElementById('entrar-menu')

    function clicar_entrar_menu(){
        menu.style.display='inline'
    }

    function clicar_sair_menu(){
        menu.style.display='none'
    }
</script>
</body>
</html>